@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0}
body{ font-family:"微软雅黑";width:100%; min-width:1200px; overflow:hidden}
ul li{ list-style:none}
.blue{ color:#31acfb}
a{ text-decoration:none}


.main{ width:100%; background:url(../images/bk-login.png) no-repeat; background-size:100% 100%; overflow:hidden}
.main0{ width:1200px; height:540px; background:#fff; margin:0 auto; margin-top:140px;}
.main_left{ float:left; width:647px; position:relative}
.main_left img{ position:absolute}
.theimg{ top:90px; left:270px}
.secimg{top:90px; left:200px}
.firimg{top:90px; left:56px}

.main_right{ width:456px; height:386px; float:right; padding-right:36px;}
.main_r_up{ height:74px;padding-top:20px;}
.main_r_up img{ float:left}
.main_r_up .pp{ float:left;height:74px; line-height:74px; font-size:18px; color:#333; padding-left:20px;letter-spacing:9px;}
.sub{ width:456px; height:30px; font-size:14px; color:#666; border-bottom:1px solid #cccccc;}
.sub p{ float:right}
.txt{ width:456px; height:40px; margin-top:35px}
.txt span{ width:90px; font-size:14px; color:#666; height:40px; line-height:40px;}
.txt input{height:40px; border:1px solid #ccc; padding-left:20px; margin-left:20px}
.txt input.txtphone{ width:240px; }
.xiayibu{ width:260px; height:40px; line-height:40px; text-align:center; color:#fff; background:#30adfa; font-size:14px; border-radius:5px; margin-left:110px; margin-top:20px; cursor:pointer}

footer{ width:100%; height:60px; line-height:60px; position:fixed; color:#adacac;bottom:0; background:url(../images/footerBg.png);background-color: transparent;text-align:right;font-size:30px;}




